body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ccf2f2;
    color: #003366;
    font-weight: bold;
    /*
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    */
}

div{
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    justify-content: center;
    align-items: center;
}

.aside {
    color: #ccf2f2;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

table {
    border-spacing: 30px;
    width: 100%;
}

th, td {
    border: 2px #009999 solid;
    padding: 20px;
}

td {
    background-color: #ebfafa;
}

.tablename {
    width: 50%;
}

select{
    width: 100px;
}

/* whole page */
.box {
    display: flex;
    height: 100%;
}

/* sidebar */
.sidebar {
    flex: 0 1 240px;
    background-color: #ccf2f2;
    border-right: 2px solid LightSteelBlue;
    transition: width 0.1s ease; /* 添加過渡效果 */
}

/* sidebar收縮後的樣式 */
.sidebar.collapsed {
    flex: 0 0 0;
    width: 0; /* 將寬度設定為 0，隱藏側邊欄 */
    margin: 0;
    padding: 0;
}

/* sidebar hidden btn */
.hidden {
    opacity: 0;
    transition: width 0.2s ease; /* 添加過渡效果 */
    pointer-events: none; /* 隱藏時不接受點擊事件 */
}

.logo {
    height: 64px;
    color: #ccf2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item {
    height: 100%;
    background-color: #ccf2f2;
    color: #003366;
    font-weight: bold;
    padding-left: 20px;
    transition: width 0.2s ease; /* 添加過渡效果 */
}

/* content(header+main) */
.content {
    flex: 1; /* Content佔滿剩餘空間 */
}

.indented-list li {
    margin-left: 20px; /* 調整縮排的數值 */
 }
  
header {
    background-color: #009999; 
    color: #ccf2f2;
    height: 64px;
    text-align: right;
}

.sidebar-btn {
    background-color: #009999; 
    color: #ccf2f2;
    text-align: left;
    align-items: left;
    padding: 10px;
}

.main-page {
    padding: 60px;
}

.main{
    padding: 40px;
}

span {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.input-title {
    background-color: #ccf2f2; 
    color: #003366;
    border: 1px #ccf2f2;
    font-weight: bold;
    padding-left: 0%;
}

.select-title {
    background-color: #ccf2f2; 
    color: #003366;
    border: 1px solid #003366;
    font-weight: bold;
}
