<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>choose_ripple_frames</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

</head>

<body>
  <div class="row box">

    <!--content-->
    <div id="content" class="col-md-10 content">
        
        <div class="row">
          <div class="main-page">
            
            <form action="{{ url_for("choose_ripple_frames")}}" method="post">
              <div style="padding:20px;">
                <h2>選擇水花面積</h2>
                <span height="5"></span>
                <table id="ripple_frames" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                  <thead>
                    <tr>
                      <td>水花影像</td>
                      <td>水花面積數值</td>
                      <td>是否選擇影像</td>
                    </tr>
                  </thead>
                  <tbody id="ripple_frames">
                    {% for data in ripple_frames %}
                    <tr>
                      <td><img id="ripple_frames"+{{ data.0 }} style="width: 500px;" src="data:image/jpeg;base64, {{ data.1 }}" alt={{ data.1 }}></td>
                      <td>{{ data.2 }}</td>
                      <td><input type="radio" id="{{ data.0 }}" name="option_{{ data.0 }}" value="{{ data.0 }}">{{ data.3 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <br>
                <div style="text-align: center;">
                  <button id="submit" class="btn btn-outline-secondary" type="submit">送出</button>
                </div>
                {{ url_from_db }}
              </div>

          </div>
        </div>
    </div>
  </div>
  
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>
var button = document.getElementById('submit');
button.addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    var notify_url= {{ url_from_db }}+"/set_ripple_threshold"
    // var notify_url = "https://segformer-test-xzfbysibua-de.a.run.app"
    xhr.open("GET", notify_url, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        console.log(xhr.responseText);
        alert('選擇水花面積已傳送完成！' + notify_url);
      }
    };
    xhr.send();
    alert('選擇完成！');
    window.location.reload();
})
</script>

</html>
