<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

</head>

<body>
  <div class="row">
    <!-- sidebars -->
    <div class="col-md-2" style="border-right: 2px solid LightSteelBlue;">
      <div class="header d-flex flex-column flex-shrink-0 p-3">
        <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto sidebars text-decoration-none">
          <!--<svg class="bi pe-none me-2" width="40" height="60"><use xlink:href="#bootstrap"/></svg>-->
          <img src="https://github.com/marshmallow3210/FourfingerThreadfinManagementPlatform/blob/main/IMG_1663.jpeg?raw=true" alt="一隻魚" width="160" height="50">
        </a>
      </div>

      <div class="row">
        <ul class="nav nav-pills flex-column mb-auto sidebars">
          <li class="nav-item">
            <div class="nav-link active sidebars" style="background-color: #009999;">
              <svg class="bi pe-none me-2" width="16" height="16" ></svg>
              功能表
            </div>
          </li>
          <li class="nav-item">
            <a href="/home" class="nav-link sidebars" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16" ><use xlink:href="#home"/></svg>
              首頁
            </a>
          </li>
          <li>
            <a href="/dispenser" class="nav-link sidebars">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              投餌機配置
            </a>
          </li>
          <li>
            <a href="/test" class="nav-link sidebars">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              測試餵食
            </a>
          </li>
          <li>
            <a href="/show" class="nav-link sidebars">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              養殖紀錄
            </a>
          </li>
          <li>
            <a href="/query" class="nav-link sidebars">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
              查詢
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md">        
      <!--header-->
      <div class="row">
        <header class="header d-flex flex-wrap align-items-center justify-content-right justify-content-lg-start">
          
          <div class="col-md-1">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
          </div>

          <div class="col-md">
            <p class="center">
              <h3 class="center">
                午仔魚養殖管理平台
              </h3>
            </p>
          </div>

          <div class="col-md-2 center">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
              <li class="center">
                <a href="" class="nav-link aside" data-bs-toggle="dropdown">
                  <img src="https://github.com/marshmallow3210/FourfingerThreadfinManagementPlatform/blob/main/IMG_1663.png?raw=true" alt="通知" width="32" height="32" class="rounded-circle me-0">
                  <!--通知-->
                </a>
                <ul class="dropdown-menu text-small shadow ">
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">通知1</div>
                      通知1內容
                    </div>
                    <span class="badge bg-primary rounded-pill">12</span>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/">通知2</a></li>
                </ul>
              </li>
              <li class="center">
                <a href="" class="nav-link aside dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <!--<svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>-->
                  <img src="https://github.com/marshmallow3210/FourfingerThreadfinManagementPlatform/blob/main/IMG_1661.png?raw=true" alt="用戶" width="32" height="32" class="rounded-circle me-0">
                  <!--用戶-->
                </a>
                <ul class="dropdown-menu text-small shadow">
                  <li><a class="dropdown-item" href="">帳號設定</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout">登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </header>
      </div>
        
        <!--content-->
        <div class="row">
          <div class="main">
            <form action="{{url_for("test")}}" method="post">
            <select name="field_ID" class="selectpicker form-control">
              <option disable select>場域</option>
              {% for id in fields_count %}
              <option>{{id[0]}}</option>
              {% endfor %}
            </select>
            <br>
            <label for="dispenser_ID">投餌機編號: </label>
            <input type="text" id="dispenser_ID" name="dispenser_ID"></a>
            <br>
            <label for="use_time">耗時: </label>
            <input type="text" id="use_time" name="use_time"></a>
            <br>
            <label for="food_ID">料號: </label>
            <input type="text" id="food_ID" name="food_ID"></a>
            <br>
            <label for="used">用量: </label>
            <input type="text" id="used" name="used"></a>
            <br>
            <button type="submit">新增</button>
          </div>
        </div>
    </div>
  </div>
</body>
